@media screen {
  .list-inline {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 0; }
    .list-inline li {
      display: inline-block; }
    .list-inline li + li {
      margin-left: 7px; } }

@media screen {
  .req {
    color: #FC4C3F; }
  #loading .svg-icon-loader {
    color: #3F51B5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px; }
  .breadcrumb {
    font-size: 11px;
    color: #858598;
    margin-bottom: 10px;
    padding: 0;
    list-style-type: none;
    padding-top: 10px;
    margin-top: 0; }
    .breadcrumb li {
      display: inline-block; }
    .breadcrumb li + li:before {
      content: '/';
      margin: 0 8px 0 6px; }
    .breadcrumb a {
      color: #03A9F4; }
      .breadcrumb a:hover {
        color: #3AC4FF; } }

@media screen {
  .quote-creation-form .frame-profile-preview {
    max-width: 550px;
    display: inline-block; }
  .modal-frame-profile .thumbnail-box.selected .thumb-content {
    display: block; }
  .modal-frame-profile .thumbnail-box.selected .thumb-overlay {
    opacity: 0.80;
    -moz-opacity: .80;
    -webkit-filter: opacity(80);
    filter: opacity(80);
    visibility: visible; }
  .quote-table {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 50px; }
    .quote-table .quote-col {
      position: relative; }
    .quote-table .table {
      border-color: #2f2d2d;
      border-top-width: 6px;
      border-bottom-width: 6px; }
    .quote-table .table > thead > tr > th {
      border-width: 1px;
      border-color: #2f2d2d;
      background: #3F51B5;
      color: #fff; }
    .quote-table .table > tbody > tr > td {
      border-color: #c7c5c5; }
    .quote-table .quote-table-main-headings th {
      text-align: center; }
    .quote-table .quote-col {
      min-width: 140px; }
    .quote-table .col-0 {
      min-width: 40px; }
      .quote-table .col-0 .checker {
        margin-right: 0; }
        .quote-table .col-0 .checker span {
          border-color: #666; }
    .quote-table .col-1 {
      min-width: 120px; }
    .quote-table .col-2 {
      min-width: 150px; }
    .quote-table .col-3 {
      min-width: 180px; }
    .quote-table .col-4 {
      min-width: 100px; }
    .quote-table .col-5-a {
      min-width: 120px; }
    .quote-table .col-5 {
      min-width: 120px; }
    .quote-table .col-6 {
      min-width: 130px; }
    .quote-table .col-7 {
      min-width: 130px; }
    .quote-table .col-8 {
      min-width: 130px; }
    .quote-table .col-9 {
      min-width: 130px; }
    .quote-table .col-10 {
      min-width: 235px; }
    .quote-table .col-11 {
      min-width: 130px; }
    .quote-table .col-12 {
      min-width: 130px; }
    .quote-table .col-13 {
      min-width: 130px; }
    .quote-table .col-14 {
      min-width: 140px; }
    .quote-table .col-16 {
      min-width: 120px; }
    .quote-table .col-17 {
      min-width: 140px; }
    .quote-table .col-18 {
      min-width: 140px; }
    .quote-table .col-19 {
      min-width: 140px; }
    .quote-table .col-20 {
      min-width: 140px; }
    .quote-table .col-21 {
      min-width: 140px; }
    .quote-table .col-22 {
      min-width: 140px; }
    .quote-table .col-23 {
      min-width: 140px; }
    .quote-table .col-34 {
      min-width: 250px; }
    .quote-table .col-disable,
    .quote-table .col-door-rebate-disable {
      z-index: 1; }
      .quote-table .col-disable:after,
      .quote-table .col-door-rebate-disable:after {
        background: rgba(14, 13, 13, 0.14);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%; } }

@media screen {
  .table-pricelists .row-heading {
    background: #EDEDED; }
  .table-pricelists .row-parent {
    background: #F7F2F2; }
  .table-pricelists .row-child .sub-item-title {
    display: inline-block;
    width: auto;
    min-width: 320px; }
  .table-pricelists tr.col-8:last-child {
    background: red; }
  .table-combination-pricelist .row-heading th {
    text-align: center; } }

@media screen {
  #table-preloading {
    display: inline-block; } }

/*# sourceMappingURL=app.css.map */
