@media screen {
	// General CSS
	.req {
		color: #FC4C3F;
	}

	// Preloader
	#loading .svg-icon-loader {
		color: $clr-blue;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
	}

	// Breadcrumb Customization
	.breadcrumb {
		font-size: 11px;
		color: #858598;
		margin-bottom: 10px;
		padding: 0;
		list-style-type: none;
		padding-top: 10px;
		margin-top: 0;

		li {
			display: inline-block;
		}

		li + li:before {
			content: '/';
			margin: 0 8px 0 6px;
		}

		a {
			color: #03A9F4;
			
			&:hover {
				color: #3AC4FF;
			}
		}
	}
}