@media screen {
	.table-pricelists {

		.row-heading {
			background: #EDEDED;
		}

		.row-parent {
			background: #F7F2F2;
		}

		.row-child {
			.sub-item-title {
				display: inline-block;
				width: auto;
				min-width: 320px;
			}
		}

		tr.col-8:last-child {
			background: red;
		}
	}

	.table-combination-pricelist {
		.row-heading {
			th {
				text-align: center;
			}
		}
	}
}