@media screen {
	.quote-creation-form {
		.frame-profile-preview {
			max-width: 550px; 
			display: inline-block;
		}
	}

	.modal-frame-profile {

		.thumbnail-box.selected {
			.thumb-content {
				display: block;
			}

			.thumb-overlay {
				opacity: 0.80;
				-moz-opacity: .80;
				filter: alpha(80);
				visibility: visible;
			}
		}
	}

	.quote-table {
		overflow-x: auto;
		width: 100%;
		padding-bottom: 50px;
		
		.quote-col {
			position: relative;
		}

		.table {
			border-color: #2f2d2d;
			border-top-width: 6px;
			border-bottom-width: 6px;
		}

		.table > thead > tr > th {
			border-width: 1px;
			border-color: #2f2d2d;
			background: #3F51B5;
			color: #fff;
		}

		.table > tbody > tr > td {
			border-color: #c7c5c5;
		}

		.quote-table-main-headings th {
			text-align: center;
		}
		
		.quote-col {
			min-width: 140px;
		}
		.col-0 {
			min-width: 40px;

			.checker {
				margin-right: 0;

				span {
					border-color: #666;
				}
			}
		}
		.col-1 {
			min-width:120px;
		}
		.col-2 {
			min-width:150px;
		}
		.col-3 {
			min-width:180px;
		}
		.col-4 {
			min-width:100px;
		}
		.col-5-a {
			min-width:120px;
		}
		.col-5 {
			min-width:120px;
		}
		.col-6 {
			min-width:130px;
		}
		.col-7 {
			min-width:130px;
		}
		.col-8 {
			min-width:130px;
		}
		.col-9 {
			min-width:130px;
		}
		.col-10 {
			min-width:235px;
		}
		.col-11 {
			min-width:130px;
		}
		.col-12 {
			min-width:130px;
		}
		.col-13 {
			min-width:130px;
		}
		.col-14 {
			min-width:140px;
		}
		.col-16 {
			min-width:120px;
		}
		.col-17 {
			min-width:140px;
		}
		.col-18 {
			min-width:140px;
		}
		.col-19 {
			min-width:140px;
		}
		.col-20 {
			min-width:140px;
		}
		.col-21 {
			min-width:140px;
		}
		.col-22 {
			min-width:140px;
		}
		.col-23 {
			min-width:140px;
		}
		.col-34 {
			min-width:250px;
		}

		.col-disable,
		.col-door-rebate-disable {
			z-index: 1;

			&:after {
				background: rgba(14,13,13,.14);
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				top: 0;
				z-index: 2;
				width: 100%;
			}
		}
	}
}